/*

  --background: #091930;
  --background-2: #193153;

  --theme: #3BB09E;
  --theme-2: #16A591;
*/
body {
  width: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: #E9E9E9;
min-height: 100vh;
  position: relative;
  overflow: hidden;
}


#todo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

h1 {
  color: #333;
}

#todo-input {
  width: 80%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  outline: none;
  font-weight: 500;
}

#todo-input:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#add-button,
#clear-button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-button {
  background-color: #16A591;
  color: white;
}

#add-button:hover {
  background-color: #45a049;
}

#clear-button {
  background-color: #ff4d4d;
  color: white;
  margin-left: 5px;
}

#clear-button:hover {
  background-color: #e53935;
}

#todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.todo-item {
  background-color: #5FE27E;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}
.todo-item:hover {
  background: #E25F5F;
}

.todo-item.completed {
  background-color: red;
  transition: all 0.3s ease;
  /* Add transition for background color change */
}

.todo-text {
  margin-right: 10px;
  font-weight: normal;
}

.delete-button {
  background-color: #FF4D4D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.delete-button:hover {
  background-color: #e53935;
}
footer{
  position: fixed;
  bottom: 20px;
  text-align: center;
  font-weight: 500;
  color: #115F54;
  width: 100%;
  overflow: hidden;
}
.social_media {
  width: 100%;
  padding: 0;
  margin : 0;
}
.social_media a {
  text-decoration: none;
  color: #16A591;
  font-size: 1.3rem;
}

@media screen and (max-width: 700px) {
  #todo-container {
    width: 80%;
  }
}